/* Estilos generales */
*   {
    margin: 0;
    padding:0%; 
    box-sizing:border-box ;
}

body{ 
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

.post {
        background-color: red;
        width: 470px;
        max-width: 100%;
        border: 1px solid #dbdbdb;
        height:400px;
        margin: 20px;
}

/* Header */ 
.post-header {
    display: flex;
    align-items: center;
    padding: 14px 16px;
    gap: 12px;
}

/* Imagen del post */
.post-img {
    width: 100%;
}

.post-img img {
    width: 100%;
    height: 300px;
    display: block;
     object-fit: cover;
}

/* Iconos de acciones */
.post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    font-size: 24px;
}
